BASE_PATH=~/.config/meowercorp/meowbin
PASTE_PATH=$BASE_PATH/data
DISABLE_PRUNE=false
MAX_PRUNE_TIME=604800000
PRUNE_TIME_TO_WAIT=1000
#placeholders
DISABLE_ENCRYPTION=false
FORCE_ENCRYPTION=false
ALLOW_BURN_ON_READ=true
ALLOW_PASSWORD=true
ALLOW_CUSTOM_ID=true
# Default ID generation is 64 chars long
MAX_CUSTOM_ID_LENGTH=64